body {
    background-color: #F2F1ED;
}

.top-bar {
    background-color: #262626;
}

.home-section {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    &__header {
        font-size: 50px;
    }
}