---
---

$DARK_BLUE: #252839;
$YELLOW: #f2b632;

html {
    background-color: $DARK_BLUE;
    font-family: "Raleway" !important;
    min-width: 480px;
    overflow-y: hidden;

}

.landing-page {
    height: 100vh;

    &__content {
        color: white;
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: 20%;
        width: 50%;

        &__about {
            padding-bottom: 5%;
            
            a {
                color: $YELLOW;
            }
        }

        &__container {
            padding-bottom: 5%;

            &__header {
                border: 3px solid white;
                border-radius: 5px;
                font-size: 50px;
                padding: 1em 1.4em;
            }
        } 

        &__links {
            list-style-type: none;
            text-align: center;
            a {
                color: $YELLOW;
            }

            li {
                display: inline;
                padding: 0 10%;
            }
        }
    }
}

